
@{
    ViewData["Title"] = "CompraRealizada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="compra-realizada">
    <div>
        <i class="fa-solid fa-bag-shopping fa-bounce fa-2xl" style="color: #ffd43b;"></i>
        <p style="font-weight:bold;">¡Gracias por tu compra!</p>
        <p>En breve te llegará un correo con el envío.</p>
        <a class="regresar-a" href="~/Home/Inicio">Regresar</a>
    </div>
</section>

