<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/acceso-denegado.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/208814b38b.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlkaShoes - Acceso Denegado</title>
</head>
<body>
    <main>
        <section class="acceso-denegado">
            <div>
                <i class="fa-sharp fa-solid fa-circle-info fa-2xl" style="color: #ffc800;"></i>
                <p><span>AVISO:</span> Acceso denegado.</p>
                <a class="iniciar-sesion-a" href="~/Home/Logout">Salir</a>
            </div>
        </section>
    </main>
</body> 
</html>
