@model AlkaShoes.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/LoginRegistro.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/208814b38b.js" crossorigin="anonymous"></script>
    <title>AlkaShoes</title>
</head>
<body>
    <main>
        <section class="inicio-sesion">
            <div class="alka-shoes-lema">
                <img class="alka-logo-login" src="~/logo/LogoAS.png" />
                <h3>IF YOU WANT IT, WE GOT IT</h3>
            </div>
            <div class="login">
                <h1>¡Hola!</h1>
                <form class="form-inicio-sesion" method="post" action="~/Home/Index">
                    <input type="text" placeholder="Correo electrónico" asp-for="Correo"/>
                    <input type="password" placeholder="Contraseña" asp-for="Contraseña"/>
                    <input type="submit" value="Iniciar sesión"/>
                </form>
                <span id="error" class="error">@Html.ValidationSummary(true)</span>
            </div>
        </section>
    </main>
</body>
</html>