@model AlkaShoes.Models.ViewModels.ProductoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="carrusel">
    <div>
        <img src="~/carruselFotos/Foto1.jpg" />
        <img src="~/carruselFotos/Foto3.jpeg" />
        <img src="~/carruselFotos/Foto2.jpg" />
        <img src="~/carruselFotos/Foto4.jpg" />
        <img src="~/carruselFotos/Foto5.jpg" />
    </div>

    <a href="javascript:" id="anterior">&lt;</a>
    <a href="javascript:" id="siguiente">&gt;</a>
</div>
<div class="container">
    @if(Model.Nombre == "")
    {
        <h1>All Shoes</h1>
    }
    else
    {
        <h1>@Model.Nombre</h1>
    }
    <div class="container-items">
        @foreach (var p in Model.Productos)
        {
            <a href="~/Home/Ver/@p.Nombre.Replace(" ", "-")" class="product">
                <div class="imgContainer">
                    <img src="~/img_tenis/@(p.Id).png?f=@(p.FechaModificacion)">
                </div>
                <h2>@p.Nombre</h2>
                <h3>@p.Precio.ToString("c")</h3>
            </a>
        }
        
    </div>
</div>

<script>
    let imgs = document.querySelector(".carrusel div");

    let clon1 = imgs.firstElementChild.cloneNode(true);
    let clon2 = imgs.lastElementChild.cloneNode(true);
    imgs.append(clon1);
    imgs.insertBefore(clon2, imgs.firstElementChild);

    let totalImg = imgs.children.length;
    let actual = 2;
    imgs.style.transform = `translateX(${(actual - 1) * -100}%)`;

    let timer = setInterval(function () {
        document.getElementById("siguiente").click();
    }, 2000)

    imgs.addEventListener("transitionend", function (e) {
        if (actual == imgs.children.length) {
            actual = 2;
            imgs.style.transition = "none";
            imgs.style.transform = `translateX(${(actual - 1) * -100}%)`;
        }

        if (actual == 1) {
            actual = imgs.children.length - 1;
            imgs.style.transition = "none";
            imgs.style.transform = `translateX(${(actual - 1) * -100}%)`;
        }

        timer = setInterval(function () {
            document.getElementById("siguiente").click();
        }, 2000)
    });

    document.getElementById("siguiente").addEventListener("click", function () {
        clearInterval(timer);
        imgs.style.transition = "all 2s"
        if (actual < totalImg) {
            actual++;
            imgs.style.transform = `translateX(${(actual - 1) * -100}%)`;
        }
    });
    document.getElementById("anterior").addEventListener("click", function () {
        clearInterval(timer);
        imgs.style.transition = "all 2s"
        if (actual > 1) {
            actual--;
            imgs.style.transform = `translateX(${(actual - 1) * -100}%)`;
        }
    });
</script>

