
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding:0;
}

/*Inicio de sesion*/
main {
    height: 100%;
    display: flex;
}


.inicio-sesion {
    background-color: black;
    width: 40%;
    height: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.alka-shoes-lema {
    height: 35%;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 10px 10px 0 0px;
}

.alka-logo-login {
    height: 100px;
}

.alka-shoes-lema h3 {
    height: 15%;
    color: white;
    background-color: black;
}

.login {
    height: 100%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
}

    .login h1 {
        margin: 0 0 5px 0;
        padding: 0;
    }

    .login a {
        width: 80%;
        text-decoration: none;
        margin: 0 auto;
        border-radius: 20px;
        border: 0;
        font-size: medium;
        padding: 5px;
        background-color: white;
        color: black;
        cursor: pointer;
    }

        .login a:hover {
            color: white;
            background-color: black;
        }

.form-inicio-sesion, .form-register {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

    .form-inicio-sesion input[type="text"], .form-inicio-sesion input[type=password], .form-register input[type="text"], .form-register input[type=password] {
        border-radius: 20px;
        border: 1px solid #b5b5b5;
        font-size: medium;
        padding: 5px;
        margin-bottom: 15px;
        background-color: #eaeaea;
        font-family: 'Oswald', sans-serif;
    }

    .form-inicio-sesion input[type="submit"], .form-register input[type="submit"] {
        border-radius: 20px;
        border: 0;
        font-size: medium;
        padding: 5px;
        margin-bottom: 15px;
        background-color: black;
        color: white;
        cursor: pointer;
        font-family: 'Oswald', sans-serif;
    }

/*Registro de usuario*/

.registro {
    background-color: black;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    margin-top: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

    .registro img {
        width: 20%;
        margin: auto;
        /*   margin: 0 auto;*/
    }

.area-registro {
    background-color: white;
    height: 100%;
    border-radius: 0 0 10px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1024px) {
    .registro, .inicio-sesion {
        width: 85%;
    }
}
