@model AlkaShoes.Models.Entities.Marca
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="agregar-editar-section">
    <h1>Editar marca</h1>

    <form method="post" action="~/Admin/Marcas/Editar"
          class="form-agregar-editar">
          <input type="hidden" asp-for="Id" />
        <input type="text" placeholder="Nombre" required asp-for="NombreMarca" />
        <p style="color:red;">@Html.ValidationSummary(true)</p>
        <div class="botones">
            <input type="submit" value="Aceptar" id="btnAgregar" />
            <a href="~/Admin/Marcas/Index">
                <input type="button" value="Cancelar" id="btnCancelar" />
            </a>
        </div>
    </form>
</section>
