@model AlkaShoes.Models.Entities.Producto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="eliminar">
    <h1>Eliminar producto</h1>

    <form method="post" action="~/Admin/Productos/Eliminar"
        class="form-eliminar" >
        <input type="hidden" asp-for="Id" />
        <p>¿Está seguro de eliminar <span>@Model.Nombre (@Model.Sku)</span> de la lista de productos?</p>
        <p class="error">La eliminación será permanente.</p>

        <div class="botones">
            <input type="submit" value="Eliminar" id="btnAgregar" />
            <a href="#">
                <input type="button" value="Cancelar" id="btnCancelar" />
            </a>
        </div>
    </form>
</section>
