@model AlkaShoes.Areas.Admin.Models.AdminProductosViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="productos">
    <h1>Productos</h1>
    <div>
        <a href="~/Admin/Productos/Agregar" class="agregar">
            Agregar producto
        </a>
        <form class="seleccionar-marca" method="post" action="~/Admin/Productos/Index">
            <select asp-items="@(new SelectList(Model.Marcas,"IdMarca","NombreMarca"))" onchange="this.form.submit()"
            asp-for="IdMarcaSeleccionada">
                <option>Todas las marcas</option>
            </select>
        </form>
    </div>

    <ul>
        @foreach (var p in Model.Productos)
        {
            <li>
                @p.NombreProducto <span>(@p.Sku)</span>
                <a href="~/Admin/Productos/Eliminar/@p.IdProducto" ><i class="fa-solid fa-trash" style="color:black;"></i></a>
                <a href="~/Admin/Productos/Editar/@p.IdProducto"><i class="fa-solid fa-pen-to-square" style="color:black;"></i></a>
            </li>
        }

    </ul>

</section>
