
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="productos">
    <h1>Productos</h1>
    <div>
        <a class="agregar">
            Agregar producto
        </a>
        <form class="seleccionar-marca">
            <select>
                <option>Todas las marcas</option>
            </select>
        </form>
    </div>

    <ul>
        <li>
            Jordan 1 Retro Low <span>(JSUASOD)</span>
            <a><i class="fa-solid fa-trash"></i></a>
            <a><i class="fa-solid fa-pen-to-square"></i></a>
        </li>

        <li>
            Jordan 1 Retro Low <span>(JSUASOD)</span>
            <a><i class="fa-solid fa-trash"></i></a>
            <a><i class="fa-solid fa-pen-to-square"></i></a>
        </li>
        <li>
            Jordan 1 Retro Low <span>(JSUASOD)</span>
            <a><i class="fa-solid fa-trash"></i></a>
            <a><i class="fa-solid fa-pen-to-square"></i></a>
        </li>

        <li>
            Jordan 1 Retro Low <span>(JSUASOD)</span>
            <a><i class="fa-solid fa-trash"></i></a>
            <a><i class="fa-solid fa-pen-to-square"></i></a>
        </li>
        <li>
            Jordan 1 Retro Low <span>(JSUASOD)</span>
            <a><i class="fa-solid fa-trash"></i></a>
            <a><i class="fa-solid fa-pen-to-square"></i></a>
        </li>
        <li>
            Jordan 1 Retro Low <span>(JSUASOD)</span>
            <a><i class="fa-solid fa-trash"></i></a>
            <a><i class="fa-solid fa-pen-to-square"></i></a>
        </li>
        <li>
            Jordan 1 Retro Low <span>(JSUASOD)</span>
            <a><i class="fa-solid fa-trash"></i></a>
            <a><i class="fa-solid fa-pen-to-square"></i></a>
        </li>

    </ul>

</section>
